# Ignore Python virtual environments
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment files
.env
*.env

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db
